---
import BaseLayout from "../layouts/BaseLayout.astro";

const code = Astro.url.searchParams.get("code");
const baseUrl = Astro.url.origin;
---
<BaseLayout>
    <h1>Callback Received</h1>
   
    <p>Your authorization code is: <strong>{code}</strong></p>
    <form method="POST" action={`${baseUrl}/token`}>
        <input hidden name="grant_type" value="authorization_code" />
        <input hidden name="code" value={code} />
        <input hidden name="redirect_uri" value={`${baseUrl}/callback`} />
        <input hidden name="client_id" value="test" />
        <input hidden name="client_secret" value="s3cr3t" />
        <button type="submit" class="btn">Exchange Authorization Code for Tokens</button>
    </form>
</BaseLayout>