---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout>
    <h1>Sign In</h1>
    <p>This is a mock sign-in page. In a real implementation, you would present a login form here.</p>
    <form method="POST" action="/sign-in-submit">
        
        
            <p class="field"><label>Name:</label><b>John Doe</b></p>
            <p class="field"><label>E-Mail:</label><b>john.doe@example.org</b></p>
        
        
        <fieldset>
            <legend>Advanced options</legend>
            <p class="field">
                <label for="token_type">Access token type:</label>
                <select name="token_type" data-test-id="token-type-select" data-testid="token-type-select">
                    <option value="opaque">Opaque Token</option>
                    <option value="jwt">Json Web Token</option>
                </select>
            </p>
            <p class="field">
                <label for="expires_in">Access token expires in:</label>
                <select name="expires_in" data-test-id="expires-in-select" data-testid="expires-in-select">
                    <option value="60">1 minute</option>
                    <option value="3600">1 hour</option>
                    <option value="86400">1 day</option>
                    <option value="604800">1 week</option>
                    <option value="2592000">30 days</option>
                    <option value="31536000">1 year</option>
                </select>
            </p>
        </fieldset>
        <p>&nbsp;</p>
        <center>
            <button type="submit" class="btn" data-test-id="sign-in-btn" data-testid="sign-in-btn">Sign In</button>
        </center>
    </form>
</BaseLayout>