---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OpenID Mock Server</title>
		<meta name="description" content="This OpenID/Oauth2 mock server can be used to test libraries, implementations or perform automated integration tests." />
	</head>

	<body>
		<slot />
	</body>
</html>
